.button-layout {
    background: $light-blue;
    border: none;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    &:hover{
        text-decoration: none;
        color: #fff;
    }
}


Link:hover {
    text-decoration: none;
}

.button--link {
    background: none;
}

.button--secondary {
    background: #888;
}